In [2]:
import pandas as pd

In [3]:
pd.__version__

'2.2.0'

In [4]:
!ls

docker-compose.yml    output.csv	     test.sql
Dockerfile	      output.csv.gz	     upload-data.ipynb
ingest_data_green.py  taxi+_zone_lookup.csv  yellow_head.csv
ingest_data.py	      terraform		     yellow_tripdata_2021-01.csv

In [31]:
df = pd.read_csv('green_tripdata_2019-09.csv.gz', nrows=5)

In [32]:
df

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,2019-09-01 00:10:53,2019-09-01 00:23:46,N,1,65,189,5,2.00,10.5,0.5,0.5,2.36,0,NaN,0.3,14.16,1,1,0
1,2,2019-09-01 00:31:22,2019-09-01 00:44:37,N,1,97,225,5,3.20,12.0,0.5,0.5,0.00,0,NaN,0.3,13.30,2,1,0
2,2,2019-09-01 00:50:24,2019-09-01 01:03:20,N,1,37,61,5,2.99,12.0,0.5,0.5,0.00,0,NaN,0.3,13.30,2,1,0
3,2,2019-09-01 00:27:06,2019-09-01 00:33:22,N,1,145,112,1,1.73,7.5,0.5,0.5,1.50,0,NaN,0.3,10.30,1,1,0
4,2,2019-09-01 00:43:23,2019-09-01 00:59:54,N,1,112,198,1,3.42,14.0,0.5,0.5,3.06,0,NaN,0.3,18.36,1,1,0

In [8]:
df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)

In [9]:
from sqlalchemy import create_engine

In [10]:
engine = create_engine("postgresql://root:root@localhost:5433/ny_taxi")

In [11]:
engine.connect()

In [26]:
print(pd.io.sql.get_schema(df, name="green_taxi_data",con=engine))

CREATE TABLE green_taxi_data (
	"VendorID" BIGINT,
	lpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	lpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	store_and_fwd_flag TEXT,
	"RatecodeID" BIGINT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	ehail_fee FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	payment_type BIGINT,
	trip_type BIGINT,
	congestion_surcharge FLOAT(53)
)

In [13]:
df_iter = pd.read_csv('green_tripdata_2019-09.csv.gz', iterator=True, chunksize=5000)

In [21]:
df_iter

In [17]:
df = next(df_iter)

In [18]:
df

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,2019-09-01 00:10:53,2019-09-01 00:23:46,N,1,65,189,5,2.00,10.5,0.5,0.5,2.36,0.0,NaN,0.3,14.16,1,1,0.0
1,2,2019-09-01 00:31:22,2019-09-01 00:44:37,N,1,97,225,5,3.20,12.0,0.5,0.5,0.00,0.0,NaN,0.3,13.30,2,1,0.0
2,2,2019-09-01 00:50:24,2019-09-01 01:03:20,N,1,37,61,5,2.99,12.0,0.5,0.5,0.00,0.0,NaN,0.3,13.30,2,1,0.0
3,2,2019-09-01 00:27:06,2019-09-01 00:33:22,N,1,145,112,1,1.73,7.5,0.5,0.5,1.50,0.0,NaN,0.3,10.30,1,1,0.0
4,2,2019-09-01 00:43:23,2019-09-01 00:59:54,N,1,112,198,1,3.42,14.0,0.5,0.5,3.06,0.0,NaN,0.3,18.36,1,1,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,2,2019-09-08 21:34:31,2019-09-08 21:42:44,N,1,74,151,1,2.12,8.5,0.5,0.5,2.45,0.0,NaN,0.3,12.25,1,1,0.0
99996,2,2019-09-08 21:06:54,2019-09-08 21:12:38,N,1,130,28,1,0.83,5.5,0.5,0.5,0.00,0.0,NaN,0.3,6.80,2,1,0.0
99997,2,2019-09-08 21:22:10,2019-09-08 21:29:33,N,1,130,10,1,2.56,9.5,0.5,0.5,2.00,0.0,NaN,0.3,12.80,1,1,0.0
99998,2,2019-09-08 21:33:42,2019-09-08 21:33:48,N,5,92,92,1,0.13,22.0,0.0,0.0,0.00,0.0,NaN,0.0,22.00,1,2,0.0
99999,2,2019-09-08 21:29:16,2019-09-08 21:36:45,N,1,7,7,1,1.09,6.5,0.5,0.5,0.00,0.0,NaN,0.3,7.80,2,1,0.0

In [24]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [25]:
df.head(0)

Empty DataFrame
Columns: [VendorID, tpep_pickup_datetime, tpep_dropoff_datetime, passenger_count, trip_distance, RatecodeID, store_and_fwd_flag, PULocationID, DOLocationID, payment_type, fare_amount, extra, mta_tax, tip_amount, tolls_amount, improvement_surcharge, total_amount, congestion_surcharge]
Index: []

In [26]:
df.head(0).to_sql(name="yellow_taxi_data", con=engine, if_exists="replace")

0

In [27]:
%time df.to_sql(name="yellow_taxi_data", con=engine, if_exists="append")

CPU times: user 7.1 s, sys: 61 ms, total: 7.16 s
Wall time: 11.1 s

1000

In [19]:
from time import time

In [27]:
from time import time
df.head(0).to_sql(name="green_taxi_data", con=engine, if_exists="replace")
df_iter = pd.read_csv('green_tripdata_2019-09.csv.gz', iterator=True, chunksize=5, low_memory=False)
while True:
    print("New chunck")
    t_start = time()
    df = next(df_iter)
    df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
    df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)
    print(df)
    df.to_sql(name="green_taxi_data", con=engine, if_exists="append")
    t_end = time()
    print(f"Inserted another chunck..., took {t_end-t_start:.3f} seconds")

New chunck
Inserted another chunck..., took 0.991 seconds
New chunck
Inserted another chunck..., took 0.973 seconds
New chunck
Inserted another chunck..., took 1.008 seconds
New chunck
Inserted another chunck..., took 1.371 seconds
New chunck
Inserted another chunck..., took 0.996 seconds
New chunck
Inserted another chunck..., took 1.007 seconds
New chunck
Inserted another chunck..., took 0.971 seconds
New chunck
Inserted another chunck..., took 0.998 seconds
New chunck
Inserted another chunck..., took 1.035 seconds
New chunck
Inserted another chunck..., took 1.140 seconds
New chunck
Inserted another chunck..., took 1.026 seconds
New chunck
Inserted another chunck..., took 0.994 seconds
New chunck
Inserted another chunck..., took 0.970 seconds
New chunck
Inserted another chunck..., took 0.967 seconds
New chunck
Inserted another chunck..., took 0.966 seconds
New chunck
Inserted another chunck..., took 1.003 seconds
New chunck
Inserted another chunck..., took 1.097 seconds
New chunck
Inserted another chunck..., took 1.024 seconds
New chunck
Inserted another chunck..., took 0.887 seconds
New chunck
Inserted another chunck..., took 0.897 seconds
New chunck
Inserted another chunck..., took 0.913 seconds
New chunck
Inserted another chunck..., took 0.883 seconds
New chunck
Inserted another chunck..., took 1.004 seconds
New chunck
Inserted another chunck..., took 0.904 seconds
New chunck
Inserted another chunck..., took 1.002 seconds
New chunck
Inserted another chunck..., took 1.009 seconds
New chunck
Inserted another chunck..., took 1.021 seconds
New chunck
Inserted another chunck..., took 0.920 seconds
New chunck
Inserted another chunck..., took 0.954 seconds
New chunck
Inserted another chunck..., took 1.131 seconds
New chunck
Inserted another chunck..., took 1.004 seconds
New chunck
Inserted another chunck..., took 1.073 seconds
New chunck
Inserted another chunck..., took 0.895 seconds
New chunck
Inserted another chunck..., took 1.108 seconds
New chunck
Inserted another chunck..., took 1.047 seconds
New chunck
Inserted another chunck..., took 1.004 seconds
New chunck
Inserted another chunck..., took 1.160 seconds
New chunck
Inserted another chunck..., took 1.014 seconds
New chunck
Inserted another chunck..., took 1.048 seconds
New chunck
Inserted another chunck..., took 0.834 seconds
New chunck
Inserted another chunck..., took 0.891 seconds
New chunck
Inserted another chunck..., took 0.902 seconds
New chunck
Inserted another chunck..., took 0.882 seconds
New chunck
Inserted another chunck..., took 1.029 seconds
New chunck
Inserted another chunck..., took 0.799 seconds
New chunck

StopIteration: